<%= form_with(model: @comment, local: true) do |f| %>
<div class="field">
<%= f.text_area :content, placeholder: "Create new comment..." %>
</div>
<%= f.submit "Post", class: "btn btn-secondary" %>
<% end %>