<li>
  <%= gravatar_for current_user.friend, size: 50 %>
  <%= link_to fullname(friend), friend %>
  <%= link_to 'Remove Friend (You are user)', friendship_path(friend_id: @friendship.friend_id), method: :delete, data: { confirm: 'Are you sure?' } %>
</li>